<!-- detalhes-livro.component.html -->


<!-- Modal para Opinião -->
<div *ngIf="mostrarModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
  <div class="bg-white p-8 rounded shadow-md w-1/2">
    <span class="cursor-pointer absolute top-4 right-4 text-gray-600 text-2xl" (click)="fecharModal()">&times;</span>

    <!-- Formulário para opinião -->
    <form [formGroup]="opiniaoForm" (submit)="enviarOpiniao()">


      <div class="mb-4">
        <label for="text" class="block text-gray-700 text-sm font-bold mb-2">Comentário:</label>
        <textarea id="text" formControlName="text" class="border rounded w-full py-2 px-3"></textarea>
      </div>

      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Enviar Opinião
      </button>
    </form>
  </div>
</div>



<div *ngIf="!mostrarModal">

  <div class="image-container d-none d-md-block">
    <img src="assets/images/img1.png" alt="Imagem" class="img-fluid">
</div>


<div class=" flex p-5 ml-2">
    <img 
        [src]="detalhesLivro?.volumeInfo.imageLinks.thumbnail" 
        alt="Capa do Livro" 
        class="mr-5 h-96"
    >
    <div class="flex flex-col">
        <h1 class="text-white font-extrabold text-3xl">{{ detalhesLivro?.volumeInfo.title }}</h1>
        <h2 class="text-white font-normal text-2xl mt-2">Autores (as) : {{ detalhesLivro?.volumeInfo.authors }}</h2>
        <p class="text-white font-normal text-xl mt-2 mb-2">
            {{ detalhesLivro?.volumeInfo.description }}
        </p>
        
        <div class="mb-2">
          <button class="text-xs font-semibold inline-block py-1 px-2 rounded-full text-teal-600 bg-teal-200"  (click)="exibirModalOpiniao()">Dar Opinião</button>
        </div>

        <div class="flex flex-col text-white mt-2" *ngFor="let id of detalhesLivro?.volumeInfo.industryIdentifiers; let i = index">
            <h4>{{ id.type }}: {{ id.identifier }}</h4>
        </div>



    </div>


</div>

<!-- Modal para Opinião -->

<div class=" ml-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Resenhas</h2>

    <swiper
        [slidesPerView]="3"
        [spaceBetween]="52"
        [navigation]="true"
        [pagination]="{ clickable: true }"

        >

            <ng-template swiperSlide *ngFor="let opniao of opinioesLivro; let i = index" >
                <div class="p-5 bg-gray-100 bg-opacity-5 text-white h-auto rounded-lg flex flex-col justify-between">
                    
                    <div class="relative pt-1">
                        <div class="flex mb-2 items-center justify-between">
                          <div>
                            <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-teal-600 bg-teal-200">
                              {{ opniao.classification }}
                            </span>
                          </div>
                        </div>
                        <div class="flex mb-2 items-center justify-between">
                          <div class="flex flex-col">
                            <div class="w-full bg-gray-200 rounded-full">
                              <div class="text-xs leading-none py-1 text-center text-white bg-teal-500 rounded-full" [style.width.%]="(opniao.predict < 100 ? opniao.predict : 100) + '%'"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                      

                    <span class="">{{ opniao.text }}</span>
                    
                    <div class="flex flex-col mt-2">
                      <h3>Positividade</h3>
                      <mat-progress-bar mode="determinate" [value]="convertToNumber(opniao.predict)"></mat-progress-bar>
                    </div>

                    <div class="flex flex-col mt-2">
                      <h3>Negatividade</h3>
                      <mat-progress-bar mode="determinate" [value]="convertToNumber(100 - opniao.predict)"></mat-progress-bar>
                    </div>
                    
                </div>

                
            </ng-template>


    </swiper>
</div>

<div class="mt-5">

</div>

</div>





