<header class="bg-dark p-1 rounded-bottom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <i class="pi pi-home mr-2"></i>
    <div class="w-50">
      <input type="text" class="form-control rounded-pill " placeholder="Pesquisar..." style="width: 100%;">
    </div>
    <div class="profile-section d-flex align-items-center">
      <img [src]="perfilImagem" alt="Foto de Perfil" class="rounded-circle mr-2" style="width: 35px; height: 35px;">
    </div>
  </div>
</header>

  