<header class="bg-header p-4 rounded-bottom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="flex">
      <i class="pi pi-home mr-3 " style="color: #ffffff;"></i>
      <i class="pi pi-globe mr-2 " style="color: #ffffff;"></i>
    </div>
    <div class="barra-pesquisar">
      <input type="text" class="form-control rounded-pill pesquisar-input" placeholder="Pesquisar..." style="width: 100%;">
    </div>
    <div class="profile-section d-flex align-items-center">
      <img [src]="perfilImagem" alt="Foto de Perfil" class="rounded-circle mr-2" style="width: 50px; height: 50px;">
    </div>
  </div>
</header>

