<header class="bg-header p-4 rounded-bottom">

  <div class="d-block d-md-none pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark border-0">
      <button class="border-0 navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

  <div class="container-fluid d-none d-md-flex justify-content-between align-items-center">
    <div class="flex">
      <a href=""><i class="pi pi-home mr-3 p-2" style="color: #ffffff;"></i></a>
    </div>

    <div>
      <div class="input-group">
          <!-- Campo de entrada de texto -->
          <input
            (keyup.enter)="searchBooks()" [(ngModel)]="query"
            type="text"
            class="form-control search-input bg-dark border-0"
            placeholder="Pesquisar por livro, gênero e autor."
            aria-label="Pesquisar"
            aria-describedby="basic-addon1"
          >
      </div>
    </div>


    <div class="profile-section d-flex align-items-center">
      <a href="/perfil"><i class="fa fa-user-circle fa-2x" id="profile-icon" aria-hidden="true" style="color: #b9b9b9;"></i></a>
    </div>
  </div>
</header>

