.input-group-text {
    background-color: #ffffff;
    border: none;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
  }
  
  /* Estilo personalizado para o campo de entrada */
  .search-input {
    border: 2px solid #dddddd;
    border-radius: 24px;
    width: 600px;
  }