<div class="center-form">
  <div class="form-container">
    <div class="col-md-12">
      <h2 class="title-form d-flex justify-content-center">LOGIN</h2>
      <form>
        <div class="form-outline mb-4">
          <label class="form-label" formControlName="form1Example1"
            >Usuário</label
          >
          <input type="email" id="form1Example1" class="form-control" />
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" formControlName="form1Example2"
            >Senha</label
          >
          <input type="password" id="form1Example2" class="form-control" />
        </div>

        <div class="row mb-2">
          <div class="col text-center">
            <button type="submit" class="btn btn-cor">ENTRAR</button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center">
            <a
              class="btn text-white"
              style="background-color: #55acee"
              href="#!"
              role="button"
            >
              <i class="fab fa-twitter me-2"></i>
              TWITTER
            </a>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col text-center">
            <a
              class="btn text-white"
              style="background-color: #dd4b39"
              href="#!"
              role="button"
            >
              <i class="fab fa-google me-2"></i>
              GOOGLE
            </a>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <figure class="figure">
        <img
          src="/src/assets/images/cat-login.png"
          class="figure-img img-fluid rounded shadow-3 mb-3"
          alt="Taking up Water with a Spoon"
        />
      </figure>

    </div>
  </div>
</div>
