<div class="center-form">

  <div class="d-none d-md-block col-md-3 m-5">
    <img [src]="gatinhoImagem" alt="Gatinho Login" class="imagem-lateral" />
  </div>

  <div class="m-5">

    <div class="col-md-9">
      <div class="d-flex flex-column align-items-center">
        <h2 class="title-form">LOGIN</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group mb-3">
              <label class="form-label" for="user">Usuário</label>
              <input type="email" id="user" class="form-control" formControlName="user" placeholder="Digite seu usuário"/>
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="email">E-mail</label>
              <input type="email" id="email" class="form-control" formControlName="email" placeholder="Digite seu e-mail"/>
            </div>

            <div class="form-group mb-4">
              <label class="form-label" for="password">Senha</label>
              <input type="password" id="password" class="form-control" formControlName="password" placeholder="Digite sua senha"/>
            </div>

            <div class="mb-2">
              <button type="submit" class="btn btn-cor d-flex justify-content-center btn-posicao" [disabled]="!loginForm.valid">ENTRAR</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
