<div class="center-form">

  <div class="d-none d-md-block col-md-3 m-5">
    <img [src]="gatinhoImagemCadastro" alt="Gatinho Login" class="imagem-lateral" />
  </div>

  <div class="m-5">

    <div class="col-md-9">
      <div class="d-flex flex-column align-items-center">
        <h2 class="title-form">CADASTRO</h2>
        <form>
          <div class="form-group mb-3">
            <label class="form-label" formControlName="form1Example1">Usuário</label>
            <input type="email" id="form1Example1" class="form-control" />
          </div>

          <div class="form-group mb-4">
            <label class="form-label" formControlName="form1Example2">Senha</label>
            <input type="password" id="form1Example2" class="form-control" />
          </div>

          <div class="mb-2">
            <button type="submit" class="btn btn-cor">ENTRAR</button>
          </div>

          <div class="mb-2">
            <a class="btn text-white" style="background-color: #55acee" href="#!" role="button">
              <i class="fab fa-twitter me-2"></i> TWITTER
            </a>
          </div>

          <div class="mb-2">
            <a class="btn text-white" style="background-color: #dd4b39" href="#!" role="button">
              <i class="fab fa-google me-2"></i> GOOGLE
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
