.center-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #232226;
}
.form-container {
  max-width: 900px;
  width: 100%;
  padding: 20px;
  border: 3px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  display: flex;
}

.form-label {
  color: white;
}

.btn-cor {
  background-color: #5000ca;
  color: white;
}

.btn {
  width: 300px;
}

.img-fluir {
  background: url("/src/assets/images/cat-login.png"),
    lightgray 0px -20.647px / 98.425% 104.548% no-repeat;
}

.title-form {
  color: white;
  text-shadow: 1px 1px 40px #FE0472, 3px 3px 40px #FE0472,
    3px 3px 40px #FE0472, 3px 3px 40px #FE0472;
}

.imagem-lateral {
  max-width: 530px; /* Ajuste a largura conforme necessário */
  height: auto;
  right: 50px; /* Espaço entre a imagem e o formulário */
  position: relative;
}

.center-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajuste a altura conforme necessário */
}

.form-control {
  width: 300px;
}

.form-outline {
  right: 300px;
}

.success-message {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;

}

::placeholder {
  color: #6c757d;
  font-style: italic;
  font-size: 16px;
}

.form-control:focus::placeholder {
  color: #495057;
}

.btn-posicao {
  background-color: #FE0472; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  text-transform: uppercase; /* Transformar o texto em maiúsculas */
  font-weight: bold; /* Texto em negrito */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 17px; /* Espaçamento interno do botão */
  border: none; /* Remova a borda */
  border-radius: 10px; /* Cantos arredondados */
  cursor: pointer; /* Cursor do mouse como ponteiro */
  transition: background-color 0.3s; /* Efeito de transição de cor de fundo */

  /* Estilize o botão quando o cursor estiver sobre ele */
  &:hover {
    background-color: #FE0472; /* Cor de fundo alterada quando hover */
  }
}

.btn-posicao-gt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px; /* Espaçamento interno do botão */
  border: none; /* Remova a borda */
  border-radius: 10px; /* Cantos arredondados */
  cursor: pointer; /* Cursor do mouse como ponteiro */
  transition: background-color 0.3s; /* Efeito de transição de cor de fundo */

  /* Estilize o botão quando o cursor estiver sobre ele */
  &:hover {
    background-color: #FE0472; /* Cor de fundo alterada quando hover */
  }
}
