
<!-- Desktop view -->
<div class="d-none d-md-block mb-10">

  <!-- CAPA -->
  <div class="image-container d-none d-md-block">
    <img src="assets/images/img1.png" alt="Imagem" class="img-fluid">
    <div class="text-overlay ">
      <img [src]="gatinhoIcone" class="imagem-icone">
      <h1 class="ml-5 text-6xl text-white font-bold">Sanpon</h1>
      <h2 class="ml-5 text-3xl text-white font-semibold">Melhor plataforma de avaliação de livros.</h2>
    </div>
  </div>

  <!-- BLOCO DE NOVIDADES -->
  <div class="ml-5 mt-10 mr-5">
    <h2 class="text-white font-weight-bold text-6xl mb-5"># Novidades</h2>
    <div class="grid grid-cols-12 gap-4 text-white">
        <div class="col-span-8 row-span-2 block-shadow-purple">
            <img [src]="foto1" class="h-full w-full rounded-lg" >
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto2" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto3" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto4" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto5" class="h-full w-100 rounded-lg">
        </div>
    </div>
</div>


  <!-- LISTAGEM DE SUGESTÕES -->
  <div class="mt-10 ml-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Sugestões</h2>

    <swiper
        [slidesPerView]="8"
        [spaceBetween]="4"
        [navigation]="true"
        [pagination]="{ clickable: true }"

      >

          <ng-template swiperSlide *ngFor="let book of books; let i = index" >
            <div *ngIf="book.volumeInfo && book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" class="">
              <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="h-56 block-shadow">
            </div>
          </ng-template>


    </swiper>

  </div>

  <!-- BLOCO DE NOVIDADES -->
  <div class="ml-5 mt-10 mr-5">
    <h2 class="text-white font-weight-bold text-6xl mb-5"># Novidades</h2>
    <div class="grid grid-cols-12 gap-4 text-white">
        <div class="col-span-8 row-span-2 block-shadow-purple">
            <img [src]="foto1" class="h-full w-full rounded-lg" >
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto2" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto3" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto4" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto5" class="h-full w-100 rounded-lg">
        </div>
    </div>
</div>

  <!-- LISTAGEM POR GENERO -->
  <div class="mt-10 ml-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Ação</h2>

    <swiper
        [slidesPerView]="8"
        [spaceBetween]="4"
        [navigation]="true"
        [pagination]="{ clickable: true }"

      >

          <ng-template swiperSlide *ngFor="let book of actionBooks; let i = index" >
            <div *ngIf="book.volumeInfo && book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" class="">
              <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="h-56 block-shadow">
            </div>
          </ng-template>


    </swiper>

  </div>

  <!-- BLOCO DE NOVIDADES -->
  <div class="ml-5 mt-10 mr-5">
    <h2 class="text-white font-weight-bold text-6xl mb-5"># Novidades</h2>
    <div class="grid grid-cols-12 gap-4 text-white">
        <div class="col-span-8 row-span-2 block-shadow-purple">
            <img [src]="foto1" class="h-full w-full rounded-lg" >
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto2" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto3" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto4" class="h-full w-100 rounded-lg">
        </div>
        <div class="col-span-2 block-shadow-purple">
            <img [src]="foto5" class="h-full w-100 rounded-lg">
        </div>
    </div>
</div>

  <!-- LISTAGEM POR GENERO -->
  <div class="mt-10 ml-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Clássicos</h2>

    <swiper
        [slidesPerView]="8"
        [spaceBetween]="4"
        [navigation]="true"
        [pagination]="{ clickable: true }"

      >

          <ng-template swiperSlide *ngFor="let book of classicBooks; let i = index" >
            <div *ngIf="book.volumeInfo && book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" class="">
              <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="h-56 block-shadow">
            </div>
          </ng-template>


    </swiper>

  </div>

</div>

<!-- Mobile view -->
<div class="container mt-5 d-block d-md-none">

  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
      <img [src]="gatinhoIcone" class="imagem-icone">
      <div>
        <h3 class="text-white font-weight-bold">Sanpon</h3>
        <h5 class="text-white text-left">Melhor plataforma de avaliação de livros.</h5>
      </div>
    </div>
  </div>

  <!-- BLOCO DE NOVIDADES -->
  <!-- <div class="ml-5 mt-10 mr-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Novidades</h2>

    <div class="grid grid-cols-1 gap-4 text-white">

      <div class="col-span-1 row-span-2 block-shadow-purple">
        <img [src]="foto1" class="h-full w-full rounded-lg" >
      </div>
      <div class="col-span-1 block-shadow-purple">
        <img [src]="foto2" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-1 block-shadow-purple">
        <img [src]="foto3" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-1 block-shadow-purple">
        <img [src]="foto4" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-1 block-shadow-purple">
        <img [src]="foto5" class="h-full w-full rounded-lg">
      </div>

    </div>
  </div> -->

  <!-- LISTAGEM DE SUGESTÕES -->
  <div class="mt-10 ml-2">

    <h2 class="text-white font-weight-bold text-3xl mb-2"># Sugestões</h2>

    <swiper
        [slidesPerView]="2"
        [spaceBetween]="4"
        [navigation]="false"
        [pagination]="{ clickable: false }"

      >

          <ng-template swiperSlide *ngFor="let book of books; let i = index" >
            <div *ngIf="book.volumeInfo && book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" class="">
              <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="h-56 block-shadow">
            </div>
          </ng-template>


    </swiper>

  </div>

  <!-- BLOCO DE NOVIDADES -->
  <!-- <div class="ml-5 mt-10 mr-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Novidades</h2>

    <div class="grid grid-cols-12 gap-4 text-white">

      <div class="col-span-8 row-span-2 block-shadow-purple">
        <img [src]="foto1" class="h-full w-full rounded-lg" >
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto2" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto3" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto4" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto5" class="h-full w-full rounded-lg">
      </div>

    </div>
  </div> -->

  <!-- LISTAGEM POR GENERO -->
  <div class="mt-10 ml-2">

    <h2 class="text-white font-weight-bold text-3xl mb-2"># Ação</h2>

    <swiper
        [slidesPerView]="2"
        [spaceBetween]="4"
        [navigation]="false"
        [pagination]="{ clickable: false }"

      >

          <ng-template swiperSlide *ngFor="let book of actionBooks; let i = index" >
            <div *ngIf="book.volumeInfo && book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" class="">
              <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="h-56 block-shadow">
            </div>
          </ng-template>


    </swiper>

  </div>

  <!-- BLOCO DE NOVIDADES -->
  <!-- <div class="ml-5 mt-10 mr-5">

    <h2 class="text-white font-weight-bold text-6xl mb-5"># Novidades</h2>

    <div class="grid grid-cols-12 gap-4 text-white">

      <div class="col-span-8 row-span-2 block-shadow-purple">
        <img [src]="foto1" class="h-full w-full rounded-lg" >
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto2" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto3" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto4" class="h-full w-full rounded-lg">
      </div>
      <div class="col-span-2 block-shadow-purple">
        <img [src]="foto5" class="h-full w-full rounded-lg">
      </div>

    </div>
  </div> -->

  <!-- LISTAGEM POR GENERO -->
  <div class="mt-10 ml-2">

    <h2 class="text-white font-weight-bold text-3xl mb-2"># Clássicos</h2>

    <swiper
        [slidesPerView]="2"
        [spaceBetween]="4"
        [navigation]="false"
        [pagination]="{ clickable: false }"

      >

          <ng-template swiperSlide *ngFor="let book of classicBooks; let i = index" >
            <div *ngIf="book.volumeInfo && book.volumeInfo.imageLinks && book.volumeInfo.imageLinks.thumbnail" class="">
              <img [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="h-56 block-shadow">
            </div>
          </ng-template>


    </swiper>

  </div>

</div>


