
<!-- Desktop view -->
<div class="d-none d-md-block">
  <div class="image-container d-none d-md-block">
    <img src="assets/images/img1.png" alt="Imagem" class="img-fluid">
    <div class="text-overlay ">
      <img [src]="gatinhoIcone" class="imagem-icone">
      <h1 class="text-sanpon font-weight-bold">Sanpon</h1>
      <h2 class="text-icon">Melhor plataforma de avaliação de livros.</h2>
    </div>
  </div>


  <div class="container-fluid mt-5">
    <h2 class="text-white font-weight-bold d-flex"># Sugestões</h2>
    <div class="carousel slide" id="bookCarousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let book of books; let i = index" [class.active]="i === 0">
          <img *ngIf="book.volumeInfo.imageLinks.thumbnail" [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="d-block w-100">
        </div>
      </div>
      <a class="carousel-control-prev" href="#bookCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#bookCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <div class="container-fluid mt-5">
    <h2 class="text-white font-weight-bold d-flex"># Ação</h2>
    <div class="carousel slide" id="bookCarousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let book of books; let i = index" [class.active]="i === 0">
          <img *ngIf="book.volumeInfo.imageLinks.thumbnail" [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="d-block w-100">
        </div>
      </div>
      <a class="carousel-control-prev" href="#bookCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#bookCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <h2 class="text-white font-weight-bold d-flex"># Clássicos</h2>
    <div class="carousel slide" id="bookCarousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let book of books; let i = index" [class.active]="i === 0">
          <img *ngIf="book.volumeInfo.imageLinks.thumbnail" [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="d-block w-100">
        </div>
      </div>
      <a class="carousel-control-prev" href="#bookCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#bookCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <h2 class="text-white font-weight-bold d-flex"># Científicos</h2>
    <div class="carousel slide" id="bookCarousel" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let book of books; let i = index" [class.active]="i === 0">
          <img *ngIf="book.volumeInfo.imageLinks.thumbnail" [src]="book.volumeInfo.imageLinks.thumbnail" alt="Capa do Livro" class="d-block w-100">
        </div>
      </div>
      <a class="carousel-control-prev" href="#bookCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#bookCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<!-- Mobile view -->
<div class="container mt-5 d-block d-md-none">

  <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center">
      <img [src]="gatinhoIcone" class="imagem-icone">
      <div>
        <h3 class="text-white font-weight-bold">Sanpon</h3>
        <h5 class="text-white text-left">Melhor plataforma de avaliação de livros.</h5>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5">
    <h3 class="text-white font-weight-bold d-flex"># Sugestões</h3>
  </div>

  <div class="container-fluid mt-5">
    <h3 class="text-white font-weight-bold d-flex"># Ação</h3>
  </div>

  <div class="container-fluid mt-5">
    <h3 class="text-white font-weight-bold d-flex"># Clássicos</h3>
  </div>

  <div class="container-fluid mt-5">
    <h3 class="text-white font-weight-bold d-flex"># Científicos</h3>
  </div>

</div>


