/* No arquivo styles.css ou estilos globais do Angular */

@import 'swiper/css/bundle';



@tailwind base;
@tailwind components;
@tailwind utilities;


/* No arquivo styles.css ou estilos globais do Angular */
::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}
  
::-webkit-scrollbar-thumb {
    background-color: #88ff00ab; /* Cor da barra de rolagem móvel (thumb) */
    border-radius: 10px; /* Bordas arredondadas da barra de rolagem móvel */
}
  
::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Cor da trilha da barra de rolagem */
}
  

body {
    background-color: #232226;
}

/* styles.css ou styles.scss */
.custom-spinner .ui-spinner {
    width: 50px; /* Largura personalizada do spinner */
    height: 50px; /* Altura personalizada do spinner */
    margin: auto; /* Centralizar o spinner horizontalmente */
    position: fixed; /* Para manter o spinner no centro da tela */
    top: 50%; /* Centralizar o spinner verticalmente */
    left: 50%; /* Centralizar o spinner horizontalmente */
    transform: translate(-50%, -50%); /* Centralizar o spinner horizontal e verticalmente */
}




.block-shadow {
  box-shadow: 0.5px 0.5px 10px #88ff0026, 0.5px 0.5px 10px #88ff0026,
    0.5px 0.5px 10px #88ff0026, 0.5px 0.5px 10px #88ff0026;
}

.block-shadow-purple {
  box-shadow: 0.5px 0.5px 10px #e100ff1b, 0.5px 0.5px 10px #e100ff1b,
    0.5px 0.5px 10px #e100ff1b, 0.5px 0.5px 10px #e100ff1b;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
